{% extends 'base.html.twig' %}

{% block title %}Calculate travel reimbursements!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Compensation calculator</h1>

    <form method="get" action="{{ path('csv') }}">
        <input type="submit" value="Download CSV" />
    </form>
</div>
{% endblock %}
